<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.83.1">
		<title>Carousel Template · Bootstrap v5.0</title>

		<link
		rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">


		<!-- Bootstrap core CSS -->
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<style>
			.bd-placeholder-img {
				padding-right: 15px;
				margin-top: 50px;
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;

			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body class="body-index">

		<header>
			{% block nav %}

				<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
					<div class="container-fluid">
					<img src="{{asset('images/CAREPET_Logo.svg')}}" alt="logo" width="50px">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarCollapse">
							<ul class="navbar-nav me-auto mb-2 mb-md-0">
								<li class="nav-item">
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
									<a class="nav-link" href="{{path('conseil_index')}}">
										Les bons conseils
									</a>
								{% else %}
									<a class="nav-link" href="{{path('app_login')}}">
										Les bons conseils
									</a>
								{% endif %}
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('specialiste_index')}}">Annuaire</a>
								</li>

								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										E-Boutique
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li>
											<a class="dropdown-item" href="{{ path('e_boutique_accessoires') }}">Accessoires</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('e_boutique_abonnement') }}">Abonnement</a>
										</li>
									</ul>
								</li>
								{%  if is_granted("ROLE_ADMIN") %}
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Espace admin
										</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<li>
												<a class="dropdown-item" href="{{ path('animal_index') }}">Animaux</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('user_index') }}">Membre</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('carnet_sante_index') }}">E-carnet</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('abonnement_index') }}">Abonnements</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('produit_index') }}">Produits</a>
											</li>
											<li>
											<a class="dropdown-item" href="{{ path('categories_index') }}">Catégories</a>
											</li>
										</ul>
									</li>
								{% elseif  is_granted("ROLE_ABONNE") %}
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Mon espace
										</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											<li>
												<a class="dropdown-item" href="{{ path('animal_index') }}">Animaux</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('carnet_sante_index') }}">E-carnet</a>
											</li>
										</ul>
									</li>
								{% endif %}
								{% if app.user %}
									<li class="nav-item">
										<a class="nav-link" href="{{ path('profil')}}">
											<i class="fas fa-user"></i>
										</a>
									</li>
								{%  endif %}
							</ul>
							{% if app.user %}
							<a class="navbar-brand" href="{{path('app_logout')}}">D&eacute;connexion</a>
						{% else %}
							<a class="navbar-brand" href="{{path('app_login')}}">Connexion</a>
						{% endif %}
						</div>
					</div>
				</nav>

			{% endblock %}
		</header>

		<main>
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container w-50
																																																																						 ">
							<img src="{{asset('/images/chienmain.jpg')}}" class="d-block w-100 h-50" alt="...">
						</div>
						<div class="carousel-caption d-none d-md-block"></div>
					</div>
					<div class="carousel-item">
						<div class="container w-50
																																																																						 ">
							<img src="{{asset('/images/chat-woman.jpg')}}" class="d-block w-100 h-50" alt="...">
						</div>
						<div class="carousel-caption d-none d-md-block"></div>
					</div>
					<div class="carousel-item">
						<div class="container w-50
																																																																						 ">
							<img src="{{asset('/images/catdog.jpg')}}" class="d-block w-100 center h-50" alt="...">
						</div>
						<div class="carousel-caption d-none d-md-block"></div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div><br>

			<div class="container marketing bg-grey">
				<div class="p-4 p-md-5 mb-4 text-dark border rounded">
					<div class="row">

						<div class="col-md-6 px-0">
							<h1 class="text-dark display-4">A la Une : Loi visant à renforcer la lutte contre la maltraitance animale</h1>
							<p class="text-muted lead my-3">La proposition de loi comprend diverses mesures pour lutter contre la maltraitance des animaux domestiques et des animaux sauvages captifs et améliorer leurs conditions de détention.
							</p>
							<p class="lead mb-0">
								<a href="https://www.vie-publique.fr/loi/278249-loi-lutte-contre-la-maltraitance-animale" class="text-primary fw-bold" target="_blank">Continuer la lecture...</a>
							</p>
						</div>
						<div class="col-md-6 px-0 text-center">
							<img class="w-50" src="{{asset('/images/loissymbol.jpg')}}" alt="">
						</div>

					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-primary">Conseil &Eacute;ducation</strong>
								<h4 class="mb-0">Comment &eacute;duquer son animal</h4>
								<div class="mb-1 text-muted"></div>
								<p class="card-text mb-auto">Dans cette rubrique, vous trouverez toutes les informations n&eacute;c&eacute;ssaires &agrave; leur bonne &eacute;ducation.</p>
								<a href="#" class="text-primary">C'est par ici</a>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false" src="{{asset('/images/dogx4.jpg')}}">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</img>

							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
							<div class="col p-4 d-flex flex-column position-static">
								<strong class="d-inline-block mb-2 text-primary">Conseils Nutritionels</strong>
								<h4 class="mb-0">Comment bien nourir son animal</h4>
								<div class="mb-1 text-muted"></div>
								<p class="mb-auto">Veillez sur lui au quotidien, parce que votre animal lui aussi &agrave; besoin de manger sainement et &eacute;quilibr&eacute;.</p>
								<a href="#" class="stretched-link">Nos autres conseils</a>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false" src="{{asset('/images/catcofee.jpg')}}">
									<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
								</img>

							</div>
						</div>
					</div>
				</div>

				<hr class="featurette-divider">

				<div class="row featurette">
					<div class="col-md-7">
						<div class="mt-5">
							<h2 class="featurette-heading">E-Carnet !
								<span class="text-muted">Qu'est-ce ?</span>
							</h2>
							<p class="lead">Vous souhaitez avoir accès &agrave; l'historique de votre animal lors de vos d&eacute;placement ? Pensez au e-carnet !
								<br>
								Le e-carnet de sant&eacute; est un outil moderne et r&eacute;actif pour le suivi de la sant&eacute; de votre animal.
																																																																						Grâce &agrave; ce service gratuit, vous avez acc&egrave;s &agrave; la fiche de suivi m&eacute;dical de votre animal à tout moment et de n'importe quel ordinateur ou smartphone.
								<br>
								Possibilit&eacute; d'avoir un suivi via Qr-code.
							</p>
							<p class="lead mb-0">
								<a class="btn btn-primary" href="#" role="button">E-Carnet</a>
							</p>
						</div>
					</div>
					<div class="col-md-5" style="background-image: url('/1.jpg')">
						<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false" src="{{asset('/images/chienbebe.jpg')}}">
							<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
						</img>

					</div>
				</body>
			</html>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class=" mt-5 col-md-7 order-md-2">
				<h2 class="featurette-heading">Espace d&eacute;di&eacute; aux sp&eacute;cialistes animalier.
					<br>
					<span class="text-muted">Qui sont-ils ?</span>
				</h2>
				<p class="lead">Ici, nous vous aiguillons vers les meilleurs sp&eacute;cialistes en tout genre pour le bien-être de votre compagnon</p>
				<p class="lead mb-0">
					<a class="btn btn-primary" href="#" role="button">Sp&eacute;cialistes</a>
				</p>
			</div>

			<div class="col-md-5 order-md-1">
				<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false" src="{{asset('/images/catgrass.jpg')}}">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
					<text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
				</img>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="mt-5 col-md-7">
				<h2 class="featurette-heading">Animal Accessoires.
					<br>
					<span class="text-muted">Habillez le, ou faites le jouer !</span>
				</h2>
				<p class="lead">Vous souhaitez l'habiller de façon originale, ou lui donner le meilleur en terme d'accessoires ?
					<br>
					Psss.. C'est par ici !</p>
				<p class="lead mb-0">
					<a class="btn btn-primary" href="#" role="button">Accessoires</a>
				</p>
			</div>
			<div class="col-md-5">
				<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="100" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false" src="{{asset('/images/chien3.jpg')}}">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text>
				</img>

			</div>
		</div>

		<hr class="featurette-divider"></body>
</html></main>
<!-- Footer --><!-- Footer -->

<footer class="footer text-center text-muted bg-dark">
<!-- Grid container -->
<div class="container p-4 pb-0">
	<!-- Section: Social media -->
	<section class="mb-4">
		<!-- Facebook -->
		<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
			<i class="fab fa-facebook-f"></i>
		</a>

		<!-- Google -->
		<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
			<i class="fab fa-google"></i>
		</a>

		<!-- Instagram -->
		<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
			<i class="fab fa-instagram"></i>
		</a>

		<!-- Linkedin -->
		<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
			<i class="fab fa-linkedin-in"></i>
		</a>
		<!-- Github -->
		<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
			<i class="fab fa-github"></i>
		</a>
	</section>
	<!-- Section: Social media -->
</div>
<!-- Grid container -->
<div
	class="container p-4 pb-0">
	<!-- Section: Form -->
	<section class="">
		<form
			action="">
			<!--Grid row-->
			<div
				class="row d-flex justify-content-center">
				<!--Grid column-->
				<div class="col-auto">
					<p class="pt-2">
						<strong>Souscrivez à notre newsletter :</strong>
					</p>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div
					class="col-md-5 col-12">
					<!-- Email input -->
					<div class="form-outline mb-4">
						<input type="email" id="form5Example2" class="form-control"/>
						<label class="form-label" for="form5Example2">Adresse email</label>
					</div>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div
					class="col-auto">
					<!-- Submit button -->
					<a href="{{ path('newsletter') }}" class="btn btn-primary mb-4">
						Souscrire
					</a>
				</div>
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</form>
	</section>
	<!-- Section: Form -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3 text-muted bg-warning">
	&copy;{{ "now"|date("Y") }}
	<a class="text-muted" href="https://www.wf3.fr/">MyPetCare.com</a>
</div>
<!-- Copyright --></footer></body></html>
