{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
  <h1>Annuaire des spécialistes : </h1>

 <form class="form-inline my-2 mb-5 text-center" action="{{ path('recherche_specialiste') }}">
      <input class=" mr-sm-2" name= "mot" type="search" placeholder="Entrez un métier">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>


    <table class="table table-striped table-primary">
        <thead class="table-dark">
            <tr>
                <th>Profession</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Voir</th>
                {{ is_granted('ROLE_ADMIN') ? "<th>Editer</th>" : ""}}
            </tr>
        </thead>
        <tbody>
        {% for specialiste in specialistes %}
            <tr>
                <td class="fw-bold">{{ specialiste.profession|capitalize }}</td>
                <td>{{ specialiste.nom }}</td>
                <td>{{ specialiste.prenom }}</td> 
                <td>{{ specialiste.telephone }}</td>
                <td>{{ specialiste.email }}</td>
                <td>{{ specialiste.adresse }}</td>
                <td>{{ specialiste.ville }}</td>
                <td>{{ specialiste.cp }}</td>
                <td>
                    <a href="{{ path('specialiste_show', {'id': specialiste.id}) }}"><i class="far fa-eye"></i></a>
                </td>
                {{  is_granted('ROLE_ADMIN') ? "<td>
                    <a href='{{ path('specialiste_edit', {'id': specialiste.id}) }}'><i class='far fa-edit'></i></a>
                </td>" : ""}}
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  {% if is_granted("ROLE_ADMIN") %}

    <button type="button" class="btn btn-outline-primary">
		<a href="{{ path('specialiste_new') }}">Nouveau spécialiste</a>
	</button>
    
  {% endif %}

{% endblock %}
