

<div class="card-deck">
    <img src="{{ asset('/uploads/photos/'~ produit.photo) }}" alt="" class="card-img-top card-img-accessoire">
    <div class="card-body">
        <h5 class="card-title">{{ produit.titre }}</h5>
        <div class="card-title text-primary" style="font-weight: bold; font-size: 1.5rem;">
        {{ produit.prix }} €
        </div>
        
        <p class="text text-muted">{{ produit.description }}</p>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if app.user.abonnement is not null %}
         <a href="{{ produit.origineSite }}" class="btn btn-primary" target="_blank">Profitez de -10%</a>
        {% else %}
        <a href="{{ produit.origineSite }}" class="btn btn-primary" target="_blank">Voir l'article</a>
        
        {% endif %}
        {% else %}
        <a href="{{ produit.origineSite }}" class="btn btn-primary" target="_blank">Voir l'article</a>
  {% endif %}

</div>

 




