{% extends 'base.html.twig' %}

{% block title %}Accessoires{% endblock %}

{% block h1 %}<h1 class="mt-5 pt-5 text-center fw-normal">Les accessoires précieusement séléctionnés par nos soins : </h1>
<img id="print-dog" src="{{asset('/images/CAREPET_Paws2.svg')}}" alt="empruntes de chien">{% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    
    {# Recherche #}
    
     <form class="form-inline my-2 mb-5 text-center" action="{{ path('recherche_accessoires') }}">
      <input class=" mr-sm-2" name= "mot" type="search" placeholder="Entrez un mot clé">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">C'est partit !</button>
    </form>

    
    <div class="col-md-12">
      <div class="grid" id="content">
        {% for produit in produits %}
          {% include "e_boutique/_content.html.twig" with {produit: produit} only %}
  
        {% endfor %}
      </div>
    </div>
  </div>
</div>
 {# <p>Filtrer</p>
 <form id="filters">
 {% for categorie in categories %}
    <p><input type="checkbox" name="categories[]" id="cat{{categorie.id}}" value="{{categorie.id}}"><label for="cat{{categorie.id}}">{{categorie.name}}</label> </p>
  {% endfor %}
 </form>
 
 <div id="content">
  {% include "e_boutique/_content.html.twig" %}
 </div>

  #}


{% endblock %}

{% block javascriptsAjax %}
<script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}