{% extends 'base.html.twig' %}

{% block title %}Accessoires{% endblock %}

{% block h1 %}Les accessoires précieusement séléctionnés par nos soins : {% endblock %}
{% block body %}
<div class="card-deck">
  {% for produit in produits %}
    <div class="card" style="width: 18rem;">
    <img src="{{ asset('/uploads/photos/'~ produit.photo) }}" class="card-img-top" alt="image de {{ produit.titre }}">
    <div class="card-body">
      <h5 class="card-title">{{ produit.titre }}</h5>
      <p class="card-text">{{ produit.description }}</p>
      <h4>{{ produit.prix }} €</h4>
      <a href="{{ produit.origineSite }}" class="btn btn-primary">Voir l'article</a>
    </div>
  </div>  
  {% endfor %}
</div>

{% endblock %}