{% extends 'base.html.twig' %}

{% block title %}Accessoires{% endblock %}

{% block h1 %}Les accessoires précieusement séléctionnés par nos soins : {% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      
    {# Futurs filtres #}
    {#   <p>Filtrer</p>
      <form id="filters">
        {% for categorie in categories %}
          <p><input type="checkbox" name="categories[]" id="cat{{categorie.id}}" value="{{categorie.id}}"><label for="cat{{categorie.id}}">{{categorie.name}}</label></p>
        {% endfor %}
      </form> #}

    </div>
    <div class="col-md-9 ml-5">
      <div class="grid" id="content">
        {% for produit in produits %}
          {% include "e_boutique/_content.html.twig" with {produit: produit} only %}
  
        {% endfor %}
      </div>
    </div>
  </div>
</div>
 {# <p>Filtrer</p>
 <form id="filters">
 {% for categorie in categories %}
    <p><input type="checkbox" name="categories[]" id="cat{{categorie.id}}" value="{{categorie.id}}"><label for="cat{{categorie.id}}">{{categorie.name}}</label> </p>
  {% endfor %}
 </form>
 
 <div id="content">
  {% include "e_boutique/_content.html.twig" %}
 </div>

  #}


{% endblock %}

{% block javascriptsAjax %}
<script src="{{ asset('js/filters.js') }}"></script>
{% endblock %}