{% extends 'base.html.twig' %}

{% block title %}CarnetSante{% endblock %}

{% block body %}
    <h1>CarnetSante</h1>
    ici il va avoir la card
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carnet_sante.id }}</td>
            </tr>
            <tr>
                <th>Maitre</th>
                <td>{{ carnet_sante.animal.membre.pseudo }}</td>
            </tr>
           <tr>
                <th>Prenom</th>
                <td>{{ carnet_sante.animal.prenom }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ carnet_sante.animal.espece }}</td>
            </tr>
            <tr>
                <th>age</th>
                <td>{{ carnet_sante.animal.age }}</td>
            </tr>
            <tr>
                <th>sexe</th>
                <td>{{ carnet_sante.animal.sexe }}</td>
            </tr>
        </tbody>
    </table>

        <h2>Visite medical</h2>

        
    <a href="{{ path('app_vac&opp_new', {'id': carnet_sante.id }) }}"> Nouvelle Vaccination ou Operation</a><br>

    <a href="{{ path('visite_medical_new', {'id': carnet_sante.id }) }}"> Nouvelle Visite medical</a><br>

    <a href="{{ path('carnet_sante_index') }}">back to list</a>

    <a href="{{ path('carnet_sante_edit', {'id': carnet_sante.id}) }}">edit</a>

    {{ include('carnet_sante/_delete_form.html.twig') }}
{% endblock %}
