{% extends 'base.html.twig' %}

{% block title %}Editer Animal{% endblock %}

{% block body %}
    <h1>Editer un animal</h1>

    {{ include('animal/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="d-flex py-2">
        {{ include('animal/_delete_form.html.twig') }}
        <a class="btn btn-secondary mx-2" href="{{ path('animal_index') }}">Revenir à la liste</a>
    </div>
{% endblock %}

{# guilhem js pour supprimer les photo #}
{% block javascripts %}
    {{parent()}}
   {{ encore_entry_script_tags('image') }}
{% endblock %}