{% extends 'base.html.twig' %}

{% block title %}Animal index
{% endblock %}

{% block body %}
	<h1>Animal index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Prenom</th>
				<th>Espece</th>
				<th>Couleur</th>
				<th>Age</th>
				<th>Sexe</th>
				<th>Photo</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for animal in animals %}
				<tr>
					<td>{{ animal.id }}</td>
					<td>{{ animal.prenom }}</td>
					{% if animal.espece == "chien" %}
						<td>
							<i class="fas fa-dog"></i>
						</td>
					{% else %}
						<td>
							<i class="fas fa-cat"></i>
						</td>
					{% endif %}
					<td>{{ animal.couleur }}</td>
					<td>{{ animal.age }}</td>
					{% if animal.sexe == "m" %}
						<td>
							<i class="fas fa-mars"></i>
						</td>
					{% else %}
						<td>
							<i class="fas fa-venus"></i>
						</td>
					{% endif %}
					<td>
						{% for image in animal.images %}
							<img src="{{ asset('/uploads/animal_photo/'~ image.name) }}" alt="photo de notre bete" width="10">
						{% endfor %}
					</td>


					<td>{{ animal.description }}</td>
					<td>
						<a href="{{ path('animal_show', {'id': animal.id}) }}">show</a>
						<a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('animal_new') }}">Create new</a>
{% endblock %}
