{% extends 'base.html.twig' %}

{% block title %}Animal
{% endblock %}

{% block body %}
  <h1 class="titre-card text-center">Carte Identité {{animal.prenom |capitalize}}</h1>
  <div id="corp-card">
      {% include "animal/card_animal.html.twig" %}
  </div>

  <div id="button-animal">
        <a class="btn btn-outline-primary mx-2" href="{{ path('visite_medical_new', {'id': animal.carnetSante.id }) }}">Nouvelle Visite </a>

        <a class="btn btn-outline-primary mx-2" href="{{ path('animal_index') }}">Mes animaux</a>
      
        <a class="btn btn-outline-primary mx-2" href="{{ path('animal_edit', {'id': animal.id}) }}">Modifier {{animal.prenom |capitalize}}</a>
     
    {{include('animal/_delete_form.html.twig')}}
       
</form>

  </div>

  
   


  
{% endblock %}
