<!doctype html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Welcome to MyCarePet</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body class="body d-flex h-100 text-center text-white bg-dark">

		<video id="videoBg" class="d-flex w-100" autoplay="" muted="" loop="">
			<source src="{{asset('/video/videoWel.mp4')}}" type="video/mp4">
		</video>

		<div class="bg-music">
			<audio src="{{asset('/audio/nina-simone-my-baby-just-cares-for-me.mp3')}}"></audio>
		</div>


		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

			<header class="mb-auto">
				<div>
					<h2 class="float-md-start mb-0"><img class="float-md-start mb-0 w-25" src="{{asset('/images/CAREPET_Logo.svg')}}" alt="logo"></h2>

					<nav class="nav nav-masthead justify-content-center float-md-end">
						<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Accueil</a>
						<a class="nav-link" href="#">Boutique</a>
						<a class="nav-link" href="#">Contact</a>
					</nav>
				</div>
			</header>

			<main class="px-3">
				<h1>MyCarePet</h1>
				<p class="lead text-primary">Si vous voulez des conseils pour le bien être de votre ami vous êtes au bon endroit. Notre réseau d'experts et de spécialistes vous accompagnera. Parce que si votre animal se porte bien il vous le rend bien.</p>
				<p class="lead">
					<a href="#" class="btn btn-sm btn-secondary fw-bold border-white bg-white">En savoir plus</a>
				</p>
				<div class="d-flex justify-content-center mt-5 h-100">
					<div id="card-welcome" class="d-flex w-50 align-items-center align-self-center card p-3 text-center cookies"><img src="https://i.imgur.com/Tl8ZBUe.png" width="50"><span class="mt-2 text-dark">Nous utilisons des cookies indispensables au bon fonctionnement de notre site. Nous et nos partenaires utilisons également des cookies afin de personnaliser votre expérience de navigation et de mesurer la performance de notre site.</span>
						<button class="btn btn-muted mt-3 px-4" type="button">Annuler</button>
						<button id="accept" class="btn btn-primary mt-3 px-4" type="button">Accepter</button>
					</div>
				</div>
			</main>

			<footer class="mt-auto text-white-50">
				<p>
					<a href="https://github.com" class="text-white">MyCarePet Team</a>, by
					<a href="https://twitter.com/mdo" class="text-white">E.S.G.T</a>.</p>
			</footer>
		</div>
	</body>
</html>
