{% extends 'base.html.twig' %}

{% block title %}Profil {{app.user.pseudo}}{% endblock %}

{% block body %}
      <h2>Hello {{ app.user.pseudo }}! ✅</h2>

        <ul class = "list-group">
        <li class="list-group-itemp">Nom : {{ app.user.nom }}</li>
        <li class="list-group-itemp">Prenom : {{ app.user.prenom }}</li>
        </ul>

        {# <h3>Mes emprunts</h3>
        
            <table class= "table table-bordered">
                <thead class = "thead-dark">
                    <th>Livre</th>
                    <th>Emprunté le</th>
                    <th>Rendu le</th>
                </thead>

                <tbody>
                    {% for emprunt in app.user.emprunts %}
                    <tr>
                        <td>{{emprunt.livre_id.titre}}</td>
                        <td>{{emprunt.dateEmprunt|date("d/m/y")}}</td>
                        <td>{{emprunt.dateRetour ? emprunt.dateRetour|date("d/m/y"): "Le livre n'a pas etait rendu"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> #}
{% endblock %}
