<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{# --- CSS #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<!-- Custom styles for Panier -->
			<link href="form-validation.css" rel="stylesheet">
		{% endblock %}
		<style>
			.grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}
		</style>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body>
		{% block nav %}

			{{include("nav.html.twig")}}
		{% endblock %}
		<div
			class="container">

			{# {% for message in app.flashes("success") %}
							{% for msg in messages %}
								<div class="alert alert-success" role="alert">{{ message }}</div>
							{% endfor %}
			
						{% endfor %} #}

			{% block body %}{% endblock %}
		</div>
		{% block footer %}
			<br>
			<footer
				class="footer text-center text-muted bg-dark">
				<!-- Grid container -->
				<div
					class="container p-4 pb-0">
					<!-- Section: Social media -->
					<section
						class="mb-4">
						<!-- Facebook -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-facebook-f"></i>
						</a>

						<!-- Google -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-google"></i>
						</a>

						<!-- Instagram -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-instagram"></i>
						</a>

						<!-- Linkedin -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<!-- Github -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-github"></i>
						</a>
					</section>
					<!-- Section: Social media -->
				</div>
				<!-- Grid container -->
				<div
					class="container p-4 pb-0">
					<!-- Section: Form -->
					<section class="">
						<form
							action="">
							<!--Grid row-->
							<div
								class="row d-flex justify-content-center">
								<!--Grid column-->
								<div class="col-auto">
									<p class="pt-2">
										<strong>Souscrivez à notre newsletter :</strong>
									</p>
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div
									class="col-md-5 col-12">
									<!-- Email input -->
									<div class="form-outline mb-4">
										<input type="email" id="form5Example2" class="form-control"/>
										<label class="form-label" for="form5Example2">Adresse email</label>
									</div>
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div
									class="col-auto">
									<!-- Submit button -->
									<a href="{{ path('newsletter') }}" class="btn btn-primary mb-4">
										Souscrire
									</a>
								</div>
								<!--Grid column-->
							</div>
							<!--Grid row-->
						</form>
					</section>
					<!-- Section: Form -->
				</div>
				<!-- Grid container -->

				<!-- Copyright -->
				<div class="text-center p-3 text-muted bg-warning">
					&copy;{{ "now"|date("Y") }}
					<a class="text-muted" href="https://www.wf3.fr/">MyPetCare.com</a>
				</div>
				<!-- end Copyright -->
			</footer>
		{% endblock %}
	</body>
</html>
