<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{# --- CSS #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<!-- Custom styles for Panier -->
			<link href="form-validation.css" rel="stylesheet">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300&display=swap" rel="stylesheet"> 
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
	<body>
		{% block nav %}

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									E-Boutique
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li>
										<a class="dropdown-item" href="{{ path('e_boutique_accessoires') }}">Accessoires</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('e_boutique_abonnement') }}">Abonnement</a>
									</li>
								</ul>
							</li>
							{%  if is_granted("ROLE_ADMIN") %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Espace admin
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li>
											<a class="dropdown-item" href="{{ path('animal_index') }}">Animaux</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('user_index') }}">Membre</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('carnet_sante_index') }}">E-carnet</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('abonnement_index') }}">Abonnements</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('produit_index') }}">Produits</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('categories_index') }}">Catégories</a>
										</li>
									</ul>
								</li>
							{% elseif  is_granted("ROLE_ABONNE") %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Mon espace
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<li>
											<a class="dropdown-item" href="{{ path('animal_index') }}">Animaux</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('carnet_sante_index') }}">E-carnet</a>
										</li>
										<li>
											<a class="dropdown-item" href="{{ path('profil') }}">Profil</a>
										</li>
									</ul>
								</li>
							{% endif %}
							{% if app.user %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('profil')}}">
										<i class="fas fa-user"></i>
									</a>
								</li>
							{%  endif %}
						</ul>
					</div>
				</div>
			</nav>
		{% endblock %}
	</body>

{% block footer %}
	<footer class="footer text-center text-muted bg-dark">
<!-- Grid container -->
		<div class="container p-4 pb-0">
	<!-- Section: Social media -->
			<section class="mb-4">
			<!-- Github -->
				<a class="btn btn-primary bg-info text-light btn-floating m-1" href="https://github.com/emajle/projetwf3" target="_blank" role="button">
				<i class="fab fa-github"></i>
				</a>
			</section>
	<!-- Section: Social media -->
		</div>
<!-- Grid container -->
		<div class="container p-4 pb-0">
	<!-- Section: Form -->
			<section class="">
				<form action="">
			<!--Grid row-->
					<div class="row d-flex justify-content-center">

						<!-- Instagram -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-instagram"></i>
						</a>

						<!-- Linkedin -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<!-- Github -->
						<a class="btn btn-primary bg-info text-light btn-floating m-1" href="#!" role="button">
							<i class="fab fa-github"></i>
						</a>
					</section>
					<!-- Section: Social media -->
				</div>
				<!-- Grid container -->
				<div
					class="container p-4 pb-0">
					<!-- Section: Form -->
					<section class="">
						<form
							action="">
							<!--Grid row-->
							<div
								class="row d-flex justify-content-center">
								<!--Grid column-->
								<div class="col-auto">
									<p class="pt-2">
										<strong>Souscrivez à notre newsletter :</strong>
									</p>
								</div>
								<!--Grid column-->

<!-- Copyright -->
		<div class="text-center p-3 text-muted bg-warning">
			&copy;{{ "now"|date("Y") }}
			<a class="text-muted" href="#">MyPetCare.com</a>
		</div>
<!-- end Copyright -->
	</footer>
{% endblock %}
</html>
