{% extends 'base.html.twig' %}

{% block body %}
   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .card-img{
        filter: grayscale(80%) blur(2px);
      }

      .card-img:hover{
        filter: none;
      }

      .col:hover {
        z-index: 1;
        transform: scale(1.10);
      }
      
    </style>
      
    <main>
              {######################## Section éducation ################################}

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Education</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col">
        <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chat-promenade.jpg')}}" class="card-img" alt="homme et chat sur un chemin">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-white">Promener son chat, bonne ou mauvaise idée?</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            
                        </li>
                        <li class="d-flex me-3 align-items-end text-white">
                            <small>Geoffrey - Ethnologue</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
          </div>
        

        <div class="col">
        <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chien-education.jpg')}}" class="card-img" alt="chien couché sur un plaid">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-primary">Les règles de la maison</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                        <li class="d-flex me-3 align-items-end text-dark">
                            <small>Catherine - Educatrice canin</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
        

       <div class="col">
          <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chien-voiture.jpg')}}" class="card-img" alt="chien dans une voiture">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-white">Conseils pour les trajets en voiture</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                        <li class="d-flex me-3 align-items-end text-white">
                            <small>Marine - Comportementaliste</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
    </div>
  </div>

                        {######################## Section quotidien ################################}

  <div class="b-example-divider"></div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Quotidien</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
   <div class="col">
        <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chiot.jpg')}}" class="card-img" alt="chiot assis">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-primary">Accueillir un chiot à la maison</h2>
                    <p class="text-mute text-center text-white fw-bold mt-5">Des conseils pour préparer son arrivée</p>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            
                        </li>
                        <li class="d-flex me-3 align-items-end">
                            <small>Marine - Comportementaliste</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
          </div>
        

        <div class="col">
        <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chat-enfant.jpg')}}" class="card-img" alt="chat et enfant sur un lit">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-white">Chat et enfant, ce qu'il faut savoir</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                        <li class="d-flex me-3 align-items-end">
                            <small>Dr Jousseaume - Vétérinaire</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
        

       <div class="col">
          <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chien-jeu.jpg')}}" class="card-img" alt="chat">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-primary">Jouer avec son chien agé</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                        <li class="d-flex me-3 align-items-end text-dark">
                            <small>Dr Jéremie - Kiné</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

                                      {######################## Section alimentation ################################}
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Alimentation</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
       <div class="col">
        <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/barf.jpg')}}" class="card-img" alt="barf">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-white">Le barf, c'est quoi ?</h2>
                    <p class="text-mute text-center text-white fw-bold mt-5">On vous explique tout ici ! </p>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            
                        </li>
                        <li class="d-flex me-3 align-items-end">
                            <small>Dr André - Vétérinaire</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
          </div>
        

        <div class="col">
        <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chien-alimentation.jpg')}}" class="card-img" alt="chien et homme">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-primary">Que puis-je lui donner ?</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                        <li class="d-flex me-3 align-items-end">
                            <small>Dr Jousseaume - vétérinaire</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
        

       <div class="col">
          <a href="#" class="icon-link">
            <div class="card bg-dark text-white">
                <img src="{{ asset('/images/chat-alimentation.jpg')}}" class="card-img" alt="chat">
                <div class="card-img-overlay d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center text-white">Moi? Gros? </h2>
                    <p class="text-mute text-center text-white fw-bold mt-5">Découvrez comment l'aider à perdre du poids</p>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                        </li>
                        <li class="d-flex me-3 align-items-end text-dark">
                            <small>Dr Benoit - vétérinaire</small>
                        </li>
                    </ul>
                </div>
            </div>
            </a>
        </div>
          




{% endblock %} 

