{% extends 'base.html.twig' %}

{% block title %}Edit {{user.pseudo}}{% endblock %}

{% block body %}
  <h1>Edit {{user.pseudo |capitalize}}</h1>

  
  
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
  
<div class="d-flex">
    {{ include('user/_delete_form.html.twig') }}
    <button class="btn btn-danger form-btn mt-2 mx-2">
      <a href="{{ path('user_index') }}">Retours à la Liste</a>
    </button>
</div>

{% endblock %}
