{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
  <h1 class="text-center">
    Liste de nos Utilisateurs</h1>
  <div class="container">

  <p>
      Nous avons sur MyCarePet {{users|length}} Membres
  </p>

    <table class="table table-responsive table-striped table-primary">
      <thead class="table-dark">
        <tr>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Adresse</th>
          <th>Ville</th>
          <th>Code Postal</th>
          <th>Animal</th>
          <th>Roles</th>
          <th>Voir</th>
          <th>Editer</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td class="fw-bold">{{user.prenom}}</td>
            <td class="fw-bold">{{user.nom}}</td>
            <td>{{ user.email }}</td>
            <td>{{user.adresse}}</td>
            <td>{{user.ville}}</td>
            <td>{{user.cp}}</td>
            <td>{{user in animaux ? "Non" : "Oui"}}</td>
            <td>

              {% set textrole = "" %}
              {% for role in user.roles %}
                {% if role == "ROLE_ADMIN" %}

                  {% set textrole = textrole ~ (
                    textrole
                    ? ", "
                    : "") ~ "Administrateur" %}

                {% elseif role == "ROLE_ABONNE" %}

                  {% set textrole = textrole ~ (
                    textrole
                    ? ", "
                    : "") ~ "Abonné" %}

                {% elseif role == "ROLE_USER" %}

                  {% set textrole = textrole ~ (
                    textrole
                    ? ", "
                    : "") ~ "Utilisateur" %}
                {% endif %}
              {% endfor %}
              {{textrole}}

            </td>
            <td>
              <a href="{{ path('user_show', {'id': user.id}) }}"><i class="far fa-eye"></i></a>
            </td>
            <td>
              <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="far fa-edit"></i></a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">Pas d'utilisateur</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      <td>
      </td>
      </tfoot>
    </table>
  </div>



				<a class="btn btn-primary" href="{{ path('admin_user_new') }}">Ajouter un utilisateur</a>

{% endblock %}
