{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1> Liste de nos Utilisateur</h1>
    <div class = "container">
        
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Code Postal</th>
                        <th>Animal</th>
                        <th>Roles</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{user.prenom}}</td>
                        <td>{{user.nom}}</td>
                        <td>{{ user.email }}</td>
                        <td>{{user.adresse}}</td>
                        <td>{{user.ville}}</td>
                        <td>{{user.cp}}</td>
                         <td>{{user in animals ? "Non" : "Oui"}}</td> 
                        <td>
                            {% set textrole = "" %}
                            {% for role in user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                            
                                        {% set textrole = textrole ~ (textrole ? ", " : "") ~ "Administrateur" %}
        
                                    {% elseif role == "ROLE_ABONNE" %}
        
                                    {% set textrole = textrole ~ (textrole ? ", " : "") ~ "Abonné" %}
        
                                    {% elseif role == "ROLE_USER" %}
        
                                    {% set textrole = textrole ~ (textrole ? ", " : "") ~ "Utilisateur" %}
                                {% endif %}
                            {% endfor %}
                            {{textrole}}
        
                        </td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id}) }}">Voir le membre</a>
                        </td>
                        <td>
                            <a href="{{ path('user_edit', {'id': user.id}) }}">Editée un membre</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas d'utilisateur</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>   
    <a href="{{ path('user_new') }}">Ajouter un utilisateur</a>
{% endblock %}
