{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur {{user.pseudo |capitalize}}</h1>

   <div class = "container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Pseudo</th>
                    <td>{{user.pseudo}}</td>
                </tr>
                <tr>
                    <th>Abonnement</th>
                    <td>
                        {% if user.abonnement.name is defined %}
                            {{user.abonnement.name}}
                        {% else %}
                            Pas Abonnée
                        {% endif %}
                    
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{user.Prenom}}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{user.nom}}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{user.adresse}}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{user.ville}}</td>
                </tr>
                <tr>
                    <th>Code Postal</th>
                    <td>{{user.cp}}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>
                        {% set textrole = "" %}
                                {% for role in user.roles %}
                                    {% if role == "ROLE_ADMIN" %}
                                                
                                            {% set textrole = textrole ~ (textrole ? ", " : "") ~ "Administrateur" %}
            
                                        {% elseif role == "ROLE_ABONNE" %}
            
                                        {% set textrole = textrole ~ (textrole ? ", " : "") ~ "Abonné" %}
            
                                        {% elseif role == "ROLE_USER" %}
            
                                        {% set textrole = textrole ~ (textrole ? ", " : "") ~ "Utilisateur" %}
                                    {% endif %}
                                {% endfor %}
                                {{textrole}}
                    </td>
                </tr>
            </tbody>
        </table>

        {% if animaux|length != 0 %}
            <h2>Animaux</h2>
            <div>
                <p>Le membre {{user.pseudo}} a {{animaux|length}} 
                
                {% if animaux|length == 1 %}
                    animal
                    {% else %}

                    animaux 
                {% endif %}
                
                </p>
            </div>
            <div class="row justify-content-evenly">
                {% for animal in animaux %}
                   <div class="col-md-4">
                        <table class="table border border-dark">
                                <tbody>
                                    <tr>
                                        <th>Prenom</th>
                                        <td>{{animal.prenom}}</td>
                                    </tr>
                                    <tr>
                                        <th>Espece</th>
                                        <td>{{animal.espece}}</td>
                                    </tr>
                                    <tr>
                                <th></th>
                                    <td> <a href="{{ path('animal_show', {'id': animal.id}) }}">Voir animal</a></td>
                                    </tr>
                                </tbody>
                        </table>
                   </div>
                {% endfor %}
            </div>
        {% endif %}
        
    <div  class="d-flex py-2">
        <a class="btn btn-secondary me-2" href="{{ path('user_index') }}">Retour à la liste</a><br>
    
        <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Editer le membre</a>
    
    </div>
       
       
        {{ include('user/_delete_form.html.twig') }}
   </div>
{% endblock %}
